<p><%= @email %> 様</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>メールアドレスを <%= @resource.unconfirmed_email %> に変更するリクエストを受け付けましたのでお知らせします。</p>
<% else %>
  <p>メールアドレスが <%= @resource.email %> に変更されましたのでお知らせします。</p>
<% end %>
